* {
	box-sizing: border-box;
}

body {
	background-color: steelblue;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 10px;
	border: 3px black solid;
	background: white;
}

.fill {
	background-image: url(./avatar.png);
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: 5px solid #ccc;
}

.hovered {
	background-color: #333;
	border-color: white;
	border-style: dashed;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}
