@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
	--line-border-fill: #3498db;
	--line-border-empty: #e0e0e0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #f6f7fb;
	font-family: "Multi", sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.container {
	text-align: center;
}

.progress-container {
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;

	display: flex;
	justify-content: space-between;

	position: relative;
}

.progress-container::before {
	content: "";

	height: 4px;
	width: 100%;

	background-color: var(--line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;

	transform: translateY(-50%);
	z-index: -1;
}

.progress {
	height: 4px;
	width: 0;
	background-color: var(--line-border-fill);

	position: absolute;
	top: 50%;
	left: 0;

	transform: translateY(-50%);
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	height: 30px;
	width: 30px;

	background-color: #fff;
	color: #999;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	border: 3px solid var(--line-border-empty);

	transition: 0.4s ease;
}

.circle.active {
	border-color: var(--line-border-fill);
}

.btn {
	cursor: pointer;
	background-color: var(--line-border-fill);
	color: #fff;

	padding: 8px 30px;
	margin: 5px;

	border: 0;
	border-radius: 6px;

	font-family: inherit;
	font-size: 14px;
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline: 0;
}

.btn:disabled {
	background-color: var(--line-border-empty);
	cursor: not-allowed;
}
