@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: #2b88f0;
	font-family: "Muli", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0 10px;
}

h3 {
	color: #fff;
	margin: 10px 0 20px 0;
	text-align: center;
}

.container {
	width: 500px;
}

@media (max-width: 800px) {
	.container {
		width: 90%;
	}
}

textarea {
	border: none;
	display: block;
	width: 100%;
	height: 100px;
	font-family: inherit;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	outline: none;
}

.tag {
	background-color: #f0932b;
	color: #fff;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
	font-size: 14px;
	display: inline-block;
}

.tag.highlight {
	background-color: #273c75;
}
