@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

:root {
	--border-color: #144fc6;
	--fill-color: #6ab3f8;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #3494e4;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 40px;
}

.container {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin-top: 10px;
}

h3 {
	font-weight: 400;
	margin: 10px 0;
}

.cup {
	background-color: #fff;
	color: var(--border-color);

	border: 4px solid var(--border-color);
	border-radius: 0 0 40px 40px;

	width: 150px;
	height: 330px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.cups {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.cup.cup-small {
	height: 95px;
	width: 50px;
	margin: 5px;

	border-radius: 0 0 15px 15px;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 14px;

	align-items: center;
	justify-content: center;
	text-align: center;

	cursor: pointer;
	transition: all 0.3s ease;
}

.cup.cup-small.full {
	background-color: var(--fill-color);
	color: #fff;
}

.remained {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;

	transition: all 0.3s ease;
}

.remained span {
	font-size: 20px;
	font-weight: bold;
}

.remained small {
	font-size: 12px;
}

.percentage {
	background-color: var(--fill-color);

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	font-size: 30px;

	height: 0;
	transition: all 0.3s ease;
}

.text {
	text-align: center;
	margin: 0 10px;
}
